{% load static %}
{% csrf_token %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link rel="stylesheet" media="all" href={% static 'legalTech/style.scss' %} />


<div class="table-users">

   <h2>Schedule</h2>
   <table cellspacing="0">
      <tr>
   
        <th >Name</th>
        <th >Time</th>
        <th>Speakers</th>
        
        
      </tr>

    

{% for item in schedule.each %}
<tr> 
  
        <td>{{ item.val.name}}</td>
        
        <td>{{ item.val.time }}</td>
        <td>
          
          {{ item.val.speakers }}</td>
       
    </tr>
         {% endfor %}
   </table>
</div>




<div class="table-users">


<form action={% url 'legalTech:addschedule' %} method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h2>Add Schedule</h2>
    Name    &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="title"><br><br>
    Time&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="time"><br><br>
    Details&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="details"><br><br>




    
    Speakers&nbsp;&nbsp;&nbsp;&nbsp;
    
 
    

    <div class="table-users">

   <h2>Speakers</h2>
   <table cellspacing="0">
      <tr>
      <th></th>
        <th >Icon</th>
        <th >Name</th>
        <th >Company</th>
        
        
        
      </tr>

    

{% for s in speakers.each %}
<tr> 
 <td><input type="checkbox" name="checks" value="{{s.val}}"><br></td>
    <td><img width=100 src="{{ s.val.imageurl }}" /> </td>
        <td>{{ s.val.name}}</td>
        
        <td>{{ s.val.company }}</td>
       
       
    </tr>
         {% endfor %}
   </table>
</div>


    
    <br><br>
    
    <input type="submit" value="add">

    


</form>

</div>


